---
---

@import "{{ site.theme }}";

html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;  
}

h1, h2, h3, h4, h5, h6, a, p, button {
  font-family: 'Dosis', sans-serif;
  font-weight: 800;
}

h1 {
  font-size: 48px;
  font-weight: 800;
  color: #f1f1f1;
  text-shadow: 2px 2px #aa00ff, 0px 2px #d50000;
}

h2 {
  font-size: 32px;
  font-weight: 800;
  padding-left: 3rem;
  padding-top: 0.5rem;
}

#main-content {
  top: 20%;
  left: 40%;
  position: absolute;
  padding: 1rem;
}

input[type=text] {
  padding: 8px;
  border: 1px solid #e3e3e3;
  border-radius: 10px;
  color: #aa00ff;
  font-size: 15px;
  font-family: 'Dosis', sans-serif;
  width: 12rem;
	position: relative;
	left: 1.75em;
}

#searchbar {
  position: absolute;
  display: inline-table;
  right: -5%;  
}

input:focus, .btn:focus {
  outline: none;
}

.btn:active {
  background-color: #c3c3c3;
}

#searchbar:hover {
  input {
    border: 1px solid #d3d3d3;  
  }
  
  .btn {
    background-color: #d3d3d3
  }
  
  .btn:active {
    background-color: #c3c3c3;
  }
}

.btn {
  font-size: 12px;
  margin-left: -4px;
  border-radius: 0 10px 10px 0;
  border: none;
  padding: 10px;
  background-color: #e3e3e3;
}

::placeholder { 
  font-family: 'Dosis', sans-serif;
	font-size: 15px;
	color: #aa00ff;
	text-transform: lowercase;
	user-select: none;
}

.hidden {
  display: none;
}

.zoom-10 {
	zoom: 10%;	
	-moz-transform: scale(10%);
}

.zoom-50 {	
	zoom: 50%;
	-moz-transform: scale(50%);
}

a {
  text-decoration: none;
  color: #aa00ff;
  user-select: none;
}

#topbar {
  background: #f1f1f1;
  height: 3.1rem;
  border-bottom: 1px solid #ededed;
}

#saved {
  top: 1rem;
  right: 8rem;
  position: absolute;
  text-transform: lowercase;
  font-size: 18px;
}

.img-container {
  display: inline-block;  
}

img {
  padding: 4px; 
  max-height: 250px;
}

.font-18 {	
	font-size: 18px;
}

.lowercase {	
	text-transform: lowercase;
}

.action-bar {	
	top: 1rem;
	right: 8rem;
	position: absolute;
}

button {
	border: none;
	background: none;
	color: #aa00ff;
}

button:hover {
	color: rgb(125, 0, 188);
}

button:focus {	
	outline: none;
}

.img-overlay {
	position: absolute;
	margin: 4px;
	height: 10%;
}

.add-icon {
	width: 25px;
	height: 25px;
	float: right;
}

.img-overlay, .add-icon {	
	opacity: 0;
}

.img-container:hover .add-icon {
	opacity: 1!important;
}

.img-container:hover .img-overlay {
	opacity: 1!important;
	background-image: -webkit-gradient(linear, 0 0, 0 50%, from(black), to(transparent));
	transition: 0.3s;
}

svg {	
	fill: white;
}

button:hover {	
	cursor: pointer;
}


.ml6 {
  position: relative;
  font-weight: 900;
  font-size: 72pt!important;
	text-shadow: 0px 4px 0px rgba(0,0,0,0.25);
}

.ml6 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.ml6 .letter {
  display: inline-block;
  line-height: 1em;
}

.loading-animation {	
	width: 100%;
	height: 100%;
	position: absolute;
	background: linear-gradient(#a0f, #bc00cb, #d50080, #f50057, #ff0040, #ff0020, red);
	z-index: 100;
	text-align: center;
}

.animation {	
	position: relative;
	top: 35%;
}

.open {	
	opacity: 1;
	-webkit-transition: opacity 3s ease-in-out;
	-moz-transition: opacity 3s ease-in-out;
	-ms-transition: opacity 3s ease-in-out;
	-o-transition: opacity 3s ease-in-out;
}

.closed {
	opacity: 0;
	-webkit-transition: opacity 3s ease-in-out;
	-moz-transition: opacity 3s ease-in-out;
	-ms-transition: opacity 3s ease-in-out;
	-o-transition: opacity 3s ease-in-out;
}
