<html>
  <head>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 
    <script src="{{ '/assets/js/default.js' | relative_url }}"></script>
  </head>
  
  <body>
    <main>
      <div id="main-content">
        <h1>search twitter.</h1>
        <input placeholder="Search" type="text" required>
        <button type="submit">GO</button>
      </div>
    </main>
    
    <script src="https://www.gstatic.com/firebasejs/5.5.1/firebase.js"></script>
    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyDHar8VdiUJPi5fnayZmc9pgyFyNhyAlxk",
            authDomain: "twitter-search-wrapper.firebaseapp.com",
            databaseURL: "https://twitter-search-wrapper.firebaseio.com",
            projectId: "twitter-search-wrapper",
            storageBucket: "twitter-search-wrapper.appspot.com",
            messagingSenderId: "139961615979"
        };
        firebase.initializeApp(config);
    </script>

  </body>  
</html>

