<html>
  <head>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link href="https://fonts.googleapis.com/css?family=Dosis:400,800" rel="stylesheet">
    <script src="https://www.gstatic.com/firebasejs/5.5.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.5.2/firebase.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> 
    <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
  </head>
  
  <body>
    <main>
      <div id="main-content">
        <h1>JIFF.LY</h1>
        <div id="searchbar">
          <form action="results.html" method="GET" autocomplete="off">
          <input id="search" placeholder="Search all the jifs" type="text" name="query" type="submit" required>
          <div id="toggle-switch">
            <input type="checkbox" id="unchecked" class="cbx hidden"/>
            <label for="unchecked" class="lbl"></label>
          </div>
          </form>
        </div>
      </div>
    </main>
  </body>  
</html>

